# macOS
.DS_Store

# Xcode
xcuserdata/
DerivedData/
.idea/

# Swift Package Manager
/.build/
/Packages/

# CocoaPods
Podfile.lock
Pods/

# Carthage
Carthage/Build/

# Xcode Scheme and Workspace
.xcworkspace
.xcodeproj/project.xcworkspace/
xcuserdata/

# Archives
*.xcarchive

# iOS Simulators
simulator/

# Core Data
*.sqlite
*.sqlite-shm
*.sqlite-wal

# App build products
build/
*.app
*.ipa

# App-specific files
*.hmap
